#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  background-color: black;
  border: 2px solid #fff;
  width: 300px;
  margin-bottom: 10px;
}
.imagen{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.titulo{
  font-size: 1em;
}
.precio{
  font-size: .7em;
}

.parent{
  padding: 20px;
  height: 58vh;
  background-color: #bbbbbb;
}


.child{
  width: 90%;
  height: 70%;
  display: block;
  margin: auto;
  background-color: #8282f2;
}


.lobo-estepario{
  background-color: beige;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 10px;
}


.lobo{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}